<header class="navbar">
  <div class="logo">Bruno & Dani</div>

  <nav>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="timeline">Linha do Tempo</a></li>
      <li><a href="planos">Viagens</a></li>
    </ul>
  </nav>
</header>
<h1 class="timeline-main-title">Nossa linha do tempo ❤</h1>

<section class="timeline-container">
  <div class="timeline-line"></div>

  <div class="timeline-item">
    <div class="timeline-dot">
      <span class="timeline-year">2024</span>
    </div>
    <div class="timeline-content">
      <h3 class="timeline-title">Primeira mensagem no wpp (25/05)</h3>
      <p class="timeline-description">Depois de algumas tentativas ela me pediu o wpp e foi onde tudo começou.</p>
      <img src="/assets/conversa1.jpg"  style="width: 10.5vw;margin-left:3vw ;">
    </div>
  </div>

  <div class="timeline-item">
    <div class="timeline-content">
      <h3 class="timeline-title">Primeiro Encontro (30/05)</h3>
      <p class="timeline-description">Marcamos de ir comer poke e eu comi usando hashi porque ela é japonesa. Ela entrou no carro e já me deu um beijo.
        Foi o dia mais feliz de todos pois acabava de conhecer pessoalmente o amor da minha vida.
      </p>
    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-content">
      <h3 class="timeline-title">Só Track Boa (14/06)</h3>
      <p class="timeline-description">Mesmo ela não gostando de eletrônica, ela topou de ir comigo e foi perfeito.
      </p>
     <img src="/assets/stb.jpg"  style="width: 10.5vw;margin-left:3vw ;">

    </div>
  </div>
  <div class="timeline-item">
    <div class="timeline-content">
      <h3 class="timeline-title">Primeiro Natal e Ano Novo</h3>
      <p class="timeline-description">Passamos o natal na minha casa e o ano novo fomos para um sítio com a família.
      </p>
           <img src="/assets/anoNovo.jpg"  style="width: 10.5vw;">

    </div>
  </div>
<div class="timeline-item">
    <div class="timeline-dot">
      <span class="timeline-year">2025</span>
    </div>
    <div class="timeline-content">
      <h3 class="timeline-title">Primeiro aniversário dela juntos (21/02)</h3>
      <p class="timeline-description">Comemoramos no show do Matue e no dia fomos a uma hamburgueria com os amigos</p>
    </div>
  </div>
    <div class="timeline-item">
    <div class="timeline-content">
      <h3 class="timeline-title">Meu primeiro aniversário (04/04)</h3>
      <p class="timeline-description">Foi a primeira vez que tive uma festa surpresa na vida, eu fiquei muito feliz e nesse dia eu só pensava em quanto eu amava ela.
      </p>
           <img src="/assets/niver.jpg"  style="width: 10.5vw;">

    </div>
  </div>
    <div class="timeline-item">
    <div class="timeline-content">
      <h3 class="timeline-title">Aniversário da Juju (24/05)</h3>
      <p class="timeline-description">Aniversário da juju, compramos salgados e bolo para gente e para ela! 
      </p>
           <img src="/assets/juju.jpg"  style="width: 10.5vw;">

    </div>
  </div>
    <div class="timeline-item">
    <div class="timeline-content">
      <h3 class="timeline-title">Primeira viagem internacional (09/09)</h3>
      <p class="timeline-description">Primeira viagem fora do Brasil, vimos pela primeira vez a neve! Nos machucamos esquiando mas de resto foi perfeito!!
      </p>
           <img src="/assets/chile.jpg"  style="width: 10.5vw;">

    </div>
  </div>
  </section>