<header class="navbar">
  <div class="logo">Bruno & Dani</div>

  <nav>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="timeline">Linha do Tempo</a></li>
      <li><a href="planos">Planos e Viagens</a></li>
    </ul>
  </nav>
</header>
<section class="home-hero two-column-layout">
  <div class="hero-content">
    <h1 class="hero-title">Cada momento vivido, uma lembrança eterna.</h1>
    <p class="hero-subtitle">Registro de acontecimentos, viagens e memórias!</p>
    <a href="/timeline" class="btn-primary">Ver linha do tempo</a>
  </div>

  <div class="hero-image">
    <img src="./assets/foto-capa.jpg" alt="Foto de Bruno e Dani3" style="width: 40.5vw;">
  </div>
</section>

