<header class="navbar">
  <div class="logo">Bruno & Dani</div>

  <nav>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="timeline">Linha do Tempo</a></li>
      <li><a href="planos">Viagens</a></li>
    </ul>
  </nav>
</header>

<section class="travels-container">
  <h1 class="travels-main-title">Viagens & Planos ✈</h1>


  <div class="travels-grid">
    <div class="travel-card completed">
      <div class="travel-card-image">
        <img src="assets/olimpia.jpg">
      </div>
      <div class="travel-card-content">
       <h3 class="travel-card-title">Viagem para Olímpia</h3>
        <p class="travel-card-description">Viajamos para Olímpia com o pessoal do banco, foi muito legal e foi um prazer apresentar a Dani para o pessoal.</p>
        <span class="travel-card-status">Realizada</span>
      </div>
    </div>

    <div class="travel-card completed">
      <div class="travel-card-image">
        <img src="assets/chile2.jpg">
      </div>
      <div class="travel-card-content">
        <h3 class="travel-card-title">Viagem para o Chile</h3>
        <p class="travel-card-description">Nossa primeira viagem internacional, onde vimos neve pela primeira vez. Foi demais!</p>
        <span class="travel-card-status">Realizada</span>
      </div>
    </div>
    <div class="travel-card planned">
      <div class="travel-card-image">
      </div>
      <div class="travel-card-content">
        <h3 class="travel-card-title">Viagem para a Coreia</h3>
        <p class="travel-card-description">Conhecer a Coreia e ver se o povo é estranho como nos doramas</p>
        <span class="travel-card-status">A planejar</span>
      </div>
    </div>
    <div class="travel-card planned">
      <div class="travel-card-image">
      </div>
      <div class="travel-card-content">
        <h3 class="travel-card-title">Viagem para o Japão</h3>
        <p class="travel-card-description">Conhecer o Japão e comer muita comida japonesa (la se chama comida apenas)</p>
        <span class="travel-card-status">A planejar</span>
      </div>
    </div>
    <div class="travel-card planned">
      <div class="travel-card-image">
      </div>
      <div class="travel-card-content">
        <h3 class="travel-card-title">Show do BTS</h3>
        <p class="travel-card-description">Poder levar a Dani para o show do BTS que ela é apaixonada.</p>
        <span class="travel-card-status">A planejar</span>
      </div>
    </div>

    </div>
</section>